@page
@model UcBank.Pages.AccountHolders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Account Holder Details @Model.AccountHolder.FirstName @Model.AccountHolder.LastName</h1>

<div>
    <h4>AccountHolder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.SocialSecurityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.SocialSecurityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.PlatinumMember)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.PlatinumMember)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountHolder.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountHolder.Notes)
        </dd>
    </dl>
</div>

@if (Model.AccountHolder.BankAccounts.Any() == false)
{
    <div class="alert alert-info">No bank account have been created. <a asp-page="/bankaccounts/create">Create a bank account</a></div>
}
else
{
    <h4>Bank Accounts</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AccountHolder.BankAccounts[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(model => model.AccountHolder.BankAccounts[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model.AccountHolder.BankAccounts[0].LastDeposit)</th>
            <th>@Html.DisplayNameFor(model => model.AccountHolder.BankAccounts[0].CurrentBalance)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.AccountHolder.BankAccounts)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.AccountNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.LastDeposit)</td>
                <td>@Html.DisplayFor(modelItem => item.CurrentBalance)</td>
                <td><a asp-page="/bankaccounts/create" asp-route-id="@item.BankAccountId">Details</a></td>
            </tr>
        }
        </tbody>
    </table>
}

<div>
    <a asp-page="./Edit" asp-route-id="@Model.AccountHolder.AccountHolderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
